<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>LFRZ</h2>
      <h4>lfernando.rios@udea.edu.co</h4>
    </div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Escudo-UdeA.svg/1200px-Escudo-UdeA.svg.png" alt="LFRZ">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/personas">Personas</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/procedimientos">Procedimientos</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>

